/* Reset */
*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

#showcase {
    background-image: url('../img/beach.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px; 
}

#showcase h1{
    font-size: 50px;
    line-height: 1.1;
}

#showcase p {
    font-size: 20px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #926239;
    border: 2px solid #926239;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover, #showcase .button:active, #showcase .button:focus {
    background: #926239;
    color: #ffffff;
}

/* Styling Sections */

#section-a{
    padding: 20px;
    background: #926239;
    color: #ffffff;
    text-align: center;
}

#section-b{
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

#section-c {
    display: flex;
}

#section-c div{
    padding: 20px;
}

#section-c .box-1, #section-c .box-3{
    background: #926239;
    color: #ffffff;
}

#section-c .box-2{
    background: #f9f9f9;
    color: #926239;
    border-top: 0.2px solid rgba(146, 98, 57, 0.75);
}

/* Mobile */
@media(max-width: 640px) {
    #section-c{
        display: block;
    }
}

@media (max-width: 340px) {
    #showcase h1 {
        font-size: 30px;
    }
    #showcase p{
        font-size: 13px;
    }
    #showcase .button {
        font-size: 15px;
    }
}